/**
 * This software is governed by the CeCILL-B license. If a copy of this license
 * is not distributed with this file, you can obtain one at
 * http://www.cecill.info/licences/Licence_CeCILL-B_V1-en.txt
 *
 * Author of Accounter: Bertrand THIERRY (bertrand.thierry1@gmail.com)
 *
*/

.hidden_at_first{
	display:none;
}


div.cursor_pointer{
	cursor:pointer;
}


h2.account_title{
	display:inline-block;
}

div.button_account_title{
	float:right;
}

div#description_panel a{
	color:black;
}

li.li_margin_top{
	margin-top:5px;
}