.hidden_at_first{
	display:none;
}


div.cursor_pointer{
	cursor:pointer;
}


h2.account_title{
	display:inline-block;
}

div.button_account_title{
	float:right;
}

div#description_panel a{
	color:black;
}

li.li_margin_top{
	margin-top:5px;
}