
span.bill_participant{
	display: inline-block;
	color:white;
	border-radius: 5px;
	height:150%;
	text-align:center
}

.billpartColor0 {background-color: blue;}
.billpartColor1 {background-color: red;}
.billpartColor2 {background-color: green;}
.billpartColor3 {background-color: #dbf2f8;}
.billpartColor4 {background-color: #dbe9c6;}
.billpartColor5 {background-color: #f4f3b0;}
.billpartColor6 {background-color: #e9d0e5;}
.billpartColor7 {background-color: #ffe4b7;}
.billpartColor8 {background-color: #d1e2f4;}
.billpartColor9 {background-color: #fee893;}

