


/*local bill*/
div.bill{
	border-radius: 15px;
	padding:10px;
	margin-bottom: 10px;
}

.bgColor0 {background-color: #fdd2c2;}
.bgColor1 {background-color: #fffac3;}
.bgColor2 {background-color: #feeae9;}
.bgColor3 {background-color: #dbf2f8;}
.bgColor4 {background-color: #dbe9c6;}
.bgColor5 {background-color: #f4f3b0;}
.bgColor6 {background-color: #e9d0e5;}
.bgColor7 {background-color: #ffe4b7;}
.bgColor8 {background-color: #d1e2f4;}
.bgColor9 {background-color: #fee893;}

div.bill h2 a{
color:black;
text-decoration: none;
}


[id^="show_hide"] a{
color:black;
}