/**
 * This software is governed by the CeCILL-B license. If a copy of this license
 * is not distributed with this file, you can obtain one at
 * http://www.cecill.info/licences/Licence_CeCILL-B_V1-en.txt
 *
 * Author of Accounter: Bertrand THIERRY (bertrand.thierry1@gmail.com)
 *
*/

div#add_bill{
	overflow:hidden;
}

div#add_bill h2{
	display:inline-block;
}

h3.bill_title{
	display:inline-block;
}

div.button_bill_title{
	float:right;
}


div.bill div.panel-primary div.panel-heading h3{
	display:inline-block;
	margin-right: 10px;
}

div.bill div.panel-primary div.panel-heading img{
	/*display:inline-block;*/
}

p#show_hide_add_bill a{
	color:black;
}


/* back ground colors */
  div.bill div.panel,
  div.bill div.panel div.panel-body,
  div.bill div.panel div.panel-heading{
    border: none;
		color:black;
}

div.bill  div.panel{
	box-shadow: -4px 6px 9px rgba(50, 50, 50, 0.5);
	color: black;
}

div.bill div.highlight{
	position:relative;
	left:-15px;
	width:calc(100% + 30px);
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:10px;
		box-shadow: -4px 6px 9px rgba(50, 50, 50, 0.5);

	
}

div.bill-0 div.panel-primary div.panel-body,
div.bill-0 div.highlight{
	background-color: rgba(253,210,194, 0.75);
}
div.bill-0 div.panel-primary div.panel-heading{
	background-color: rgba(253,210,194, 1);
}

div.bill-1 div.panel-primary div.panel-body,
div.bill-1 div.highlight{
	background-color: rgba(255,250,195, 0.75);
}
 div.bill-1 div.panel-primary div.panel-heading{
	background-color: rgba(255,250,195, 1);
}

div.bill-2 div.panel-primary div.panel-body,
div.bill-2 div.highlight{
	background-color: rgba(254,234,233, 0.75);
}
div.bill-2  div.panel-primary div.panel-heading{
	background-color: rgba(254,234,233, 1);
}

div.bill-3 div.panel-primary div.panel-body,
div.bill-3 div.highlight{
	background-color: rgba(219,242,248, 0.75);
}
div.bill-3  div.panel-primary div.panel-heading{
	background-color: rgba(219,242,248, 1);
}

div.bill-4 div.panel-primary div.panel-body,
div.bill-4 div.highlight{
	background-color: rgba(219,233,198,0.75);
}
div.bill-4  div.panel-primary div.panel-heading{
	background-color: rgba(219,233,198,1);
}

div.bill-5 div.panel-primary div.panel-body,
div.bill-5 div.highlight{
	background-color: rgba(244,243,176,0.75);
}
div.bill-5 div.panel-primary div.panel-heading{
	background-color: rgba(244,243,176, 1);
}

div.bill-6 div.panel-primary div.panel-body,
div.bill-6 div.highlight{
	background-color: rgba(233,208,229, 0.75);
}
div.bill-6  div.panel-primary div.panel-heading{
	background-color: rgba(233,208,229, 1);
}

div.bill-7 div.panel-primary div.panel-body,
div.bill-7 div.highlight{
	background-color: rgba(255,228,183, 0.75);
}
 div.bill-7  div.panel-primary div.panel-heading{
	background-color: rgba(255,228,183, 1);
}

div.bill-8 div.panel-primary div.panel-body,
div.bill-8 div.highlight{
	background-color:  rgba(209,226,244, 0.75);
}
 div.bill-8  div.panel-primary div.panel-heading{
	background-color:  rgba(209,226,244, 1);
}

div.bill-9 div.panel-primary div.panel-body,
div.bill-9 div.highlight{
	background-color: rgba(254,232,147, 0.75);	
}
 div.bill-9  div.panel-primary div.panel-heading{
	background-color:  rgba(254,232,147, 1);
}

/* End back ground colors */

div.bill div.panel  a{
color:black;
}

div.bill div.panel  .bill_participant a{
color:black;
}