
div.bill_participant{
	word-break: break-all;
	overflow:hidden;
}

div.bill_participant_assign_name{
	width:70%;
}

div.bill_participant_percentage{
	width:30%;
}

div.bill_participant_percentage input{
	width:100%;
}

div.bill_participant_assign_name label{
	width:100%;
}

div.bill_participant_name{
	width:60%;
	float:left;
	}
	
div.bill_participant_name,
div.bill_participant_assign_name label.bill_participant_name{
	color:white;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:center;
	}
	
div.bill_participant_button,
div.bill_participant_percentage,
div.bill_participant_assign_name{
	float:left;
	margin:0px;
}

.billpartColor0 {background-color: blue;}
.billpartColor1 {background-color: red;}
.billpartColor2 {background-color: green;}
.billpartColor3 {background-color: #FF00FF;}
.billpartColor4 {background-color: #C0C0C0;}
.billpartColor5 {background-color: #00FFFF;}
.billpartColor6 {background-color: #FFFF00;}
.billpartColor7 {background-color: #;}
.billpartColor8 {background-color: #;}
.billpartColor9 {background-color: #;}

.group_color
{
background-color: #111111 !important;
}