header h2#main_subtitle{
	font-style: italic;
	color:#555;
}

header hr,
body hr{
	width:90%;
	size:10px;
  clear: both;
	height: 5px;
	background-color : #555;
	border-radius:10px;
}

body{
	background-color: #eee;
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

body div.container{
	background-color: white;
	box-shadow: -4px 6px 9px rgba(50, 50, 50, 0.5);
	overflow:hidden;
	margin:auto;
	padding: 10px;
}

.fullwidth{
	width:100%;
}

.inlineblock{
	display:inline-block;
}