header h2#main_subtitle{
	font-style: italic;
	color:#555;
}

header hr{
	width:90%;
	size:10px;
  clear: both;
	height: 5px;
	background-color : #555;
	border-radius:10px;
}

body{
	background-color: #eee;
}

body div#content{
	background-color: white;
	box-shadow: -4px 6px 9px rgba(50, 50, 50, 0.5);
	width: 1280px;
	overflow:hidden;
	margin:auto;
	padding: 10px;
		
}

div#success{
	background-color: rgba(0, 255, 0, 0.5);
	border-radius: 10px;
	color: black;
}

div#success h2{
	background-color: rgba(0, 255, 0, 1);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

div#warnings{
	background-color: rgba(0, 0, 255, 0.5);
	border-radius: 10px;
	color: black;
}
div#warnings h2{
	background-color: rgba(0, 0, 255, 1);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

div#errors{
	background-color: rgba(255, 0, 0, 0.5);
	border-radius: 10px;
	color: black;
}
div#errors h2{
	background-color: rgba(255, 0, 0, 1);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}