/**
 * This software is governed by the CeCILL-B license. If a copy of this license
 * is not distributed with this file, you can obtain one at
 * http://www.cecill.info/licences/Licence_CeCILL-B_V1-en.txt
 *
 * Author of Accounter: Bertrand THIERRY (bertrand.thierry1@gmail.com)
 *
*/

header h2#main_subtitle{
	font-style: italic;
	color:#555;
}

header hr,
body hr.separator-header{
	width:90%;
	size:10px;
  clear: both;
	height: 5px;
	background-color : #555;
	border-radius:10px;
}

body{
	background-color: #eee;
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

body div.container{
	background-color: white;
	box-shadow: -4px 6px 9px rgba(50, 50, 50, 0.5);
	overflow:hidden;
	margin:auto;
	padding: 10px;
	margin-top:20px;
	margin-bottom:20px;
}

.fullwidth{
	width:100%;
}

.width60{
	width:60%;
}
.inlineblock{
	display:inline-block;
}

.floatleft{
	float:left;
}

.floatright{
	float:right;
}

.cursorpointer{
	cursor:pointer;
}

.zeromargin{
	margin:0px;
}

.text-center{
	text-align:center;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.red{
	color:red;
}

div.input-group span.input-group-addon.glyphicon{
	top:0px !important;
}
