/**
 * This software is governed by the CeCILL-B license. If a copy of this license
 * is not distributed with this file, you can obtain one at
 * http://www.cecill.info/licences/Licence_CeCILL-B_V1-en.txt
 *
 * Author of Accounter: Bertrand THIERRY (bertrand.thierry1@gmail.com)
 *
*/

nav#main_menu img.screenshot{
	width:100%;
	border: 1px solid;
}

div#content div#create_account{
	background-color: OrangeRed;
}

div#content div#retrieve_account{
	background-color: #6c5788;
}


div#content div.main-menu{
	font-size: 1.5em;
	text-align:center;
	color: white;
	padding: 10px;
	border-radius:10px;
	overflow:hidden;
	margin-top:10px;
}



div#content div.main-menu p a{
	text-decoration:none;
}

div#content div.main-menu p a:hover{
	text-decoration:none;
}

