nav#main_menu img.screenshot{
	width:100%;
	border: 1px solid;
}

div#content div#create_account{
	background-color: OrangeRed;
}

div#content div#retrieve_account{
	background-color: #6c5788;
}


div#content div.main-menu{
	font-size: 1.5em;
	text-align:center;
	color: white;
	padding: 10px;
	border-radius:10px;
	overflow:hidden;
	margin-top:10px;
}



div#content div.main-menu p a{
	text-decoration:none;
}

div#content div.main-menu p a:hover{
	text-decoration:none;
}


/*
nav#main_menu{
	text-align:center;
	width:50%;
	overflow:hidden;
	margin:auto;
	font-size: 1.5em;
}


div#content div#create_account{
	float:left;
}

div#content div#create_account a {
   text-decoration: none;
}

div#content div#create_account a p{
	text-align:center;
}



div#content div#retrieve_account{
	float:right;
}

div#content div#retrieve_account a {
  text-decoration: none;
}

div#content div#retrieve_account a p{
	text-align:center;
}

div#content div#retrieve_account a p img{
	height: 1em;
}

div#content div#retrieve_account a p span{
	margin:auto;
	text-align:center;
	background-color: #6c5788;
	color: white;
	padding: 10px;
	border-radius:10px;
}
*/