/**
 * This software is governed by the CeCILL-B license. If a copy of this license
 * is not distributed with this file, you can obtain one at
 * http://www.cecill.info/licences/Licence_CeCILL-B_V1-en.txt
 *
 * Author of Accounter: Bertrand THIERRY (bertrand.thierry1@gmail.com)
 *
*/

/*member*/

div#members{
	overflow:hidden;
}

div#members div.panel-heading{
	overflow:hidden;
}


div#members h2{
	display:inline-block;
}

div#members div.row_member{
	margin-bottom:5px;
}

div#div_add_member{
	margin-top:10px;
}

div#div_add_member .form-control{
}

div#div_add_member a {
color:black;
}

div.display_member{
	color:white;
	border-radius: 5px;
}

div.padding_member{
	padding-top: 6px;
	padding-bottom: 8px;
	text-align:center;
	word-break: break-all;
	overflow:hidden;
}

.group_color
{
background-color: #111111 !important;
}
