/**
 * This software is governed by the CeCILL-B license. If a copy of this license
 * is not distributed with this file, you can obtain one at
 * http://www.cecill.info/licences/Licence_CeCILL-B_V1-en.txt
 *
 * Author of Accounter: Bertrand THIERRY (bertrand.thierry1@gmail.com)
 *
*/

/*Participant*/

div#participants{
	overflow:hidden;
}

div#participants div.panel-heading{
	overflow:hidden;
}


div#participants h2{
	display:inline-block;
}

div#div_add_participant{
	margin-top:10px;
}

div#div_add_participant .form-control{
}

div#div_add_participant a {
	
color:black;
}