div.payment_table{
	text-align:center;
	word-break: break-all;
	overflow:hidden;
	margin-bottom:5px;
}

.row [class^="description_collapse_"].in,
.row [class^="description_collapse_"].collapsing,
.row [class*=" description_collapse_"].in,
.row [class*=" description_collapse_"].collapsing
{
    display: block!important;
}

hr.separator_payments{
	width:50%;
	margin:auto;
	margin-bottom:10px;
	margin-top:5px;
	border-top: dotted 1px;
}