/* Solution */
div#solutions{
	color: black;
	overflow:hidden;
}

div#solutions div.panel-body h3
{
	text-align:center;
}

div#solutions div.panel-body div.list_solution
{
	margin-bottom: 10px;
	vertical-align: text-top;;
}

div#solutions div#basic_solution{
	padding-right: 30px;
	border-right: 2px solid black;
}

