/**
 * This software is governed by the CeCILL-B license. If a copy of this license
 * is not distributed with this file, you can obtain one at
 * http://www.cecill.info/licences/Licence_CeCILL-B_V1-en.txt
 *
 * Author of Accounter: Bertrand THIERRY (bertrand.thierry1@gmail.com)
 *
*/

/* Solution */
div#solutions{
	color: black;
	overflow:hidden;
}

div#solutions h2{
	display:inline-block;
}

div#solutions div.panel-body h3
{
	text-align:center;
}

div#solutions div.panel-body div.list_solution
{
	margin-bottom: 10px;
	vertical-align: text-top;;
}

div#solutions div#basic_solution{
	padding-right: 30px;
	border-right: 2px solid black;
}

